.imagine {
    height: calc(50px + 90vh);
}

#long-content {
    .all {
        position: relative;
        .wire {
            position: absolute;
            top: 150px;
            right: 48%;
        }
        .container{
            .food_card{
                width: 303px;
                height: 482px;
                padding: 64px 10px 55px 10px;
                position: relative;
            }
            .nuts{
                .title{
                    font-size: 35px;
                    text-align:center;
                }
                .egg{
                    width: 250px;
                    height: 210px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .textbox{
                    width: 100%;
                    padding: 10px;
                }
                .cnt{
                    font-size: 20px;
                }
            }
            .nut_small{
                position: absolute;
                top: 23px;
                left: 58%;
                transition: 1s;
                img{
                    width: 78px;
                }
            }
            // .food_card {
            //     z-index: 0;
            //     position: relative;
            //     .big_pic .egg {
            //         height: 300px;
            //         width: 300px;
            //         background-position: center;
            //         background-size: cover;
            //     }
            //     .big_pic .cucum {
            //         height: 300px;
            //         width: 300px;
            //         background-position: center;
            //         background-size: contain;
            //         background-repeat: no-repeat;
            //         position: absolute;
            //         right: 0px;
            //     }
                
            // }
        }
        .eggs {
            display: flex;
            justify-content: center;
            margin-bottom: 245px;
            .whole_egg.active {
                display: none;
            }
            .cark_left,
            .cark_right {
                display: none;
            }
            .cark_left.active {
                transform: rotate(-4deg);
                display: block;
            }
            .cark_right.active {
                transform: rotate(1deg);
                display: block;
            }
        }
        .small_pic.egg {
            position: absolute;
            left: 42%;
            top: 60px;
            opacity: 0;
            transition: 1s;
            z-index: 2;
            .img {
                width: 358;
                height: 359px;
            }
        }
        .small_pic.cucum {
            position: absolute;
            right: 300px;
            top: 150px;
            opacity: 0;
            transition: 1s;
            .img {
                width: 100px;
                height: 100px;
            }
        }
        .small_pic.egg.active {
            opacity: 1;
            transition: 1s;
            left: 42%; 
        }
        .small_pic.nut.active {
            opacity: 1;
            transition: 1.5s;
            left: 42%; 
        }
        .small_pic.cucum.active {
            opacity: 1;
            transition: 1s;
            right: 50%;
            .img {
                transition: 1s;
                transform: scale(2, 2);
            }
        }
        
    }
}