.imagine {
    height: calc(50px + 90vh);
}

#long-content {
    .all {
        position: relative;
        .wire {
            position: absolute;
            top: 150px;
            right: 48%;
        }
        .eggs {
            display: flex;
            justify-content: center;
            margin-bottom: 245px;
            .whole_egg.active {
                display: none;
            }
            .cark_left,
            .cark_right {
                display: none;
            }
            .cark_left.active {
                transform: rotate(-4deg);
                display: block;
            }
            .cark_right.active {
                transform: rotate(1deg);
                display: block;
            }
        }
        .small_pic.egg {
            position: absolute;
            left: 40%;
            top: 196px;
            opacity: 0;
            transition: 1s;
            z-index: 2;
            .img {
                width: 400px;
                height: 400px;
            }
        }
        .small_pic.cucum {
            position: absolute;
            right: 300px;
            top: 150px;
            opacity: 0;
            transition: 1s;
            .img {
                width: 100px;
                height: 100px;
            }
        }
        .small_pic.egg.active {
            opacity: 1;
            transition: 1s;
            left: 41%;
            .img {}
        }
        .small_pic.cucum.active {
            opacity: 1;
            transition: 1s;
            right: 50%;
            .img {
                transition: 1s;
                transform: scale(2, 2);
            }
        }
        .food_card {
            z-index: 0;
            position: relative;
            .big_pic.egg {
                height: 300px;
                width: 300px;
                background-position: center;
                background-size: cover;
            }
            .big_pic.cucum {
                height: 300px;
                width: 300px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                right: 0px;
            }
            
        }
    }
}